<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main class="container d-flex flex-grow-1 justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-14">
                    <form method="POST" action="/profile/edit?_method=PUT">
                        <div class="mb-3">
                            <label for="name" class="form-label fw-bold">New name:</label>
                            <input class="form-control" id="name" name="name" value="<%= user.name %>">
                        </div>
                        <div class="mb-3">
                            <label for="avatar" class="form-label fw-bold">Avatar link:</label>
                            <input class="form-control" id="avatar" name="avatar" type="url" value="<%= user.avatar %>">
                        </div>
                        <button class="btn btn-light" type="submit">Update Profile</button>
                    </form>
                </div>
            </div>
        </main>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>