<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
    <div>
    <% photos.forEach(p => { %>
      <% if(p.comments.length) { %>
        <img src="<%= p.url %>" style="max-width: 10vmin">
        <% p.comments.forEach(c => { %>
          <p><strong> <%= c.authorName %></strong> commented: <%= c.text %></p>
        <% }) %>
    <%  } %>
    <% }); %>
    <% photos.forEach(p => { %>
      <% if(p.like.length) { %>

        <img src="<%= p.url %>" style="max-width: 10vmin">
        <% p.like.forEach(l => { %>
          <p><strong> <%=l.name %></strong> liked you photo.</p>
        <% }) %>
        
    <%  } %>
    <% }); %> 
    </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>