<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/header') %>
        <img src="<%= user.avatar %>" style="width: 7vmin">
        <h1>Hi <%= user.name %>!</h1>
        <a href="/profile/edit">Edit Profile.</a>
        <% if(photos.length) { %>
            <% photos.forEach(p=> { %>
                <div>
                    <a href="/photos/<%= p._id %>"><img src="<%= p.url %>"></a>
                    <p><%= p.title %></p>
                    <% if (p.like.length === 0) { %>
                        <p><span>0</span> likes</p>
                    <% } else if (p.like.length===1) { %>
                        <p><span>1</span> like</p>
                    <% } else { %>
                        <p><span><%= p.like.length %></span> likes</p>
                    <% } %>
                    <% if (p.like.includes(user._id)) { %>
                        <form  method="POST" action="/photos/<%= p._id %>/unlike?_method=PUT">
                            <input type="hidden" name="page" value="profile">
                            <button type="submit"><i class="fa-solid fa-heart"></i></button>
                        </form>
                    <% } else { %>
                        <form method="POST" action="/photos/<%= p._id %>/like?_method=PUT">
                            <input type="hidden" name="page" value="profile">
                            <button type="submit"><i class="fa-regular fa-heart"></i></button>
                        </form>
                    <% } %>
                    <% if (user.saved.includes(p._id)) { %>
                        <form  method="POST" action="/photos/<%= p._id %>/unsave?_method=PUT">
                            <input type="hidden" name="page" value="profile">
                            <button type="submit"><i class="fa-solid fa-bookmark"></i></button>
                        </form>
                    <% } else { %>
                        <form method="POST" action="/photos/<%= p._id %>/save?_method=PUT">
                            <input type="hidden" name="page" value="profile">
                            <button type="submit"><i class="fa-regular fa-bookmark"></i></button>
                        </form>
                    <% } %>
                    <form method="POST" action="/photos/<%= p._id %>/delete?_method=delete">
                        <input type="hidden" name="page" value="profile">
                        <button type="submit"><i class="fa-solid fa-trash"></i></i></button>
                    </form>
                    <a href="/photos/<%= p._id %>"><button type="submit"><i class="fa-solid fa-pen"></i></i></button></a>
                </div>
            <% }) %>
        <% } %>
        <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>