<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container full-height container-margin">
            <div class="row h-100">
            <div class="col d-flex justify-content-center align-items-center">
                <div class="d-inline-flex align-items-center">
                <img src="<%= user.avatar %>" class="img-fluid me-2" style="width: 10vmin">
                <h1 class="me-2">Hi <%= user.name %>!</h1>
                <a href="/profile/edit">
                    <button class="btn btn-light">
                    <i class="fa-solid fa-pen"></i>
                    </button>
                </a>
                </div>
            </div>
            </div>
        </div>
        <% if(photos.length) { %>
            <% photos.forEach(p=> { %>
                <div class="row justify-content-center">
                    <div class="col-md-4 mx-auto mb-2">
                    <a href="/photos/<%= p._id %>"><img src="<%= p.url %>" class="image-index"></a>
                    <p><%= p.title %></p>
                    <% if (p.like.includes(user._id)) { %>
                        <form  method="POST" action="/photos/<%= p._id %>/unlike?_method=PUT">
                            <input type="hidden" name="page" value="profile">
                            <button type="submit" class="btn btn-light"><i class="fa-solid fa-heart"></i></button>
                        </form>
                    <% } else { %>
                        <form method="POST" action="/photos/<%= p._id %>/like?_method=PUT">
                            <input type="hidden" name="page" value="profile">
                            <button type="submit" class="btn btn-light"><i class="fa-regular fa-heart"></i></button>
                        </form>
                    <% } %>
                    <% if (user.saved.includes(p._id)) { %>
                        <form  method="POST" action="/photos/<%= p._id %>/unsave?_method=PUT">
                            <input type="hidden" name="page" value="profile">
                            <button type="submit" class="btn btn-light"><i class="fa-solid fa-bookmark"></i></button>
                        </form>
                    <% } else { %>
                        <form method="POST" action="/photos/<%= p._id %>/save?_method=PUT">
                            <input type="hidden" name="page" value="profile">
                            <button type="submit" class="btn btn-light"><i class="fa-regular fa-bookmark"></i></button>
                        </form>
                    <% } %>
                    <form method="POST" action="/photos/<%= p._id %>/delete?_method=delete">
                        <input type="hidden" name="page" value="profile">
                        <button type="submit" class="btn btn-light"><i class="fa-solid fa-trash"></i></button>
                    </form>
                    <a href="/photos/<%= p._id %>"><button class="btn btn-light"><i class="fa-solid fa-pen"></i></button></a>
                    <% if (p.like.length === 0) { %>
                        <p class="p-inline"><strong>0</strong> likes</p>
                    <% } else if (p.like.length===1) { %>
                        <p class="p-inline"><strong>1</strong> like</p>
                    <% } else { %>
                        <p class="p-inline"><strong><%= p.like.length %></strong> likes</p>
                    <% } %>
                    <% if (p.comments.length === 0) { %>
                        <p class="p-inline"><strong>0</strong> comments</p>
                    <% } else if (p.comments.length===1) { %>
                        <p class="p-inline"><strong>1</strong> comment</p>
                    <% } else { %>
                        <p class="p-inline"><strong><%= p.comments.length %></strong> comments</p>
                    <% } %>
                </div>
                </div>
            <% }) %>
        <% } %>
        
    </main>
    <%- include('../partials/footer') %>
</body>
</html>