<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/header') %>
        <main>
        <% if(photos.length) { %>
            <% photos.forEach(p=> { %>
                <div class="row justify-content-center">
                    <div class="col-md-4 mx-auto mb-2">
                    <a href="/photos/<%= p._id %>"><img src="<%= p.url %>" style="max-width: 100%; width: 100%;"></a>
                    <p><%= p.title %> by <strong><%= p.authorName %></strong></p>
                    <% if (p.like.length === 0) { %>
                        <p><span>0</span> likes</p>
                    <% } else if (p.like.length===1) { %>
                        <p><span>1</span> like</p>
                    <% } else { %>
                        <p><span><%= p.like.length %></span> likes</p>
                    <% } %>
                    <% if (p.like.includes(user._id)) { %>
                        <form  method="POST" action="/photos/<%= p._id %>/unlike?_method=PUT">
                            <input type="hidden" name="page" value="saved">
                            <button type="submit" class="btn btn-light"><i class="fa-solid fa-heart"></i></button>
                        </form>
                    <% } else { %>
                        <form method="POST" action="/photos/<%= p._id %>/like?_method=PUT">
                            <input type="hidden" name="page" value="saved">
                            <button type="submit" class="btn btn-light"><i class="fa-regular fa-heart"></i></button>
                        </form>
                    <% } %>
                    <form  method="POST" action="/photos/<%= p._id %>/unsave?_method=PUT">
                        <input type="hidden" name="page" value="saved">
                        <button type="submit" class="btn btn-light"><i class="fa-solid fa-bookmark"></i></button>
                    </form>
                    <% if (p.authorId.equals(user._id)) { %>
                        <form method="POST" action="/photos/<%= p._id %>/delete?_method=delete">
                            <input type="hidden" name="page" value="saved">
                            <button type="submit" class="btn btn-light"><i class="fa-solid fa-trash"></i></i></button>
                        </form>
                    <% } %>
                    <a href="/photos/<%= p._id %>"><button type="submit" class="btn btn-light"><i class="fa-solid fa-pen"></i></i></button></a>
                </div>
            </div>
            <% }) %>
        <% } %>
        </main>
        <%- include('../partials/footer') %>
    </body>

</html>