<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-14">
                <form method="POST" action="/photos/<%= photoId %>/comments/<%= comment._id %>/edit?_method=PUT">
                    <div class="mb-3">
                        <label for="title" class="form-label fw-bold">New text:</label>
                        <input class="form-control" id="text" name="text" value="<%= comment.text %>" required>
                    </div>
                    <button type="submit" class="btn btn-light">Update Comment</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>