<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Edit Comment</h1>
        <form method="POST" action="/photos/<%= photoId %>/comments/<%= comment._id %>/edit?_method=PUT">
            <lable>Edit Comment
            <textarea name="text" required><%= comment.text %></textarea>
            </lable>
            <button type="submit">Update</button>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>