<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
        <main>
        <div>
            <img src="<%= photo.url %>">
            <p><%= photo.authorId.name %></p>
            <p><%= photo.title %></p>
            <% if (photo.like.length === 0) { %>
                <p><span>0</span> likes</p>
            <% } else if (photo.like.length===1) { %>
                <p><span>1</span> like</p>
            <% } else { %>
                <p><span><%= photo.like.length %></span> likes</p>
            <% } %>
            <% if (photo.like.includes(user._id)) { %>
                <form  method="POST" action="/photos/<%= photo._id %>/unlike?_method=PUT">
                    <input type="hidden" name="page" value="photo">
                    <button type="submit"><i class="fa-solid fa-heart"></i></button>
                </form>
            <% } else { %>
                <form method="POST" action="/photos/<%= photo._id %>/like?_method=PUT">
                    <input type="hidden" name="page" value="photo">
                    <button type="submit"><i class="fa-regular fa-heart"></i></button>
                </form>
            <% } %>
            <% if (user.saved.includes(photo._id)) { %>
                <form  method="POST" action="/photos/<%= photo._id %>/unsave?_method=PUT">
                    <input type="hidden" name="page" value="photo">
                    <button type="submit"><i class="fa-solid fa-bookmark"></i></button>
                </form>
            <% } else { %>
                <form method="POST" action="/photos/<%= photo._id %>/save?_method=PUT">
                    <input type="hidden" name="page" value="photo">
                    <button type="submit"><i class="fa-regular fa-bookmark"></i></button>
                </form>
            <% } %>
            <% if (photo.authorId.equals(user._id)) { %>
                <form method="POST" action="/photos/<%= photo._id %>/delete?_method=delete">
                    <input type="hidden" name="page" value="photo">
                    <button type="submit"><i class="fa-solid fa-trash"></i></i></button>
                </form>
            <% } %>
        </div>
        <form method="POST" action="/photos/<%= photo._id%>/comments">
            <lable>Add Comment
            <textarea name="text" required></textarea>
            </lable>
            <button type="submit">Submit</button>
        </form>
        <% console.log(photo)%>
        <% if (photo.comments.length) { %>
               <% photo.comments.forEach(c => { %>
                    <p><%= c.authorName %></p>
                    <p><%= c.text %></p>
                <% }) %>
        <% } %>
        <% photo.comments.forEach(c => { %>
            <p> <%= c.authorName %></p>
            <p> <%= c.text %></p>
            <% if (c.authorId.equals(user._id)) { %>
                <form method="POST" action="/photos/<%=photo._id %>/comments/<%= c._id %>/edit">
                <button type="submit">Edit</button>
                </form>
                <form method="POST" action="/photos/<%=photo._id %>/comments/<%= c._id %>/delete?_method=delete">
                    <button type="submit">Delete</button>
                    </form>
           <% } %>
        <% }) %>
        <%- include('../partials/footer') %>
        </main>
    </body>
</html>